<div class="row justify-content-center mt-5 avatar-loading">
    <div *ngIf='downloadUserAvatarURL === "/assets/img/loading.gif"' class="img-responsive">
        <div class="loader"></div>
    </div>
    <div *ngIf='!(downloadUserAvatarURL === "/assets/img/loading.gif")'>
        <img src="{{downloadUserAvatarURL}}" class="rounded img-responsive">
    </div>
</div>
<app-image-upload></app-image-upload>
<div class="row mt-5">
    <div class="col-3">

    </div>
    <div class="col-4">
        <p class="font-weight-bold">Level: {{ userLevel}}</p>
        <p class="font-weight-bold">Points: {{ userPoints}}</p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">

    </div>
    <div class="col-3">
        <a class="btn btn-primary" routerLink="/input">New entry</a>
    </div>
    <div class="col-1">

    </div>
    <div class="col-3">
        <a class="btn btn-primary" routerLink="/statistics">Statistics</a>
    </div>
</div>
