<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">All time added</th>
                <th scope="col">Today</th>
                <th scope="col">Receipts QA</th>
                <th scope="col">QA Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>{{ allTime }}</td>
                <td>{{ today }}</td>
                <td>{{ receiptsQA }}</td>
                <td>{{ scoreQA }}%</td>
              </tr>
            </tbody>
          </table>
    </div>    
</div>

