<app-navbar></app-navbar>
<app-avatar></app-avatar>
<h1>{{title}}</h1>

<app-paper-sim></app-paper-sim>

<div class="mx-auto" style="width: 400px;">
  <form>
    <div class="form-group">
      <label for="modelYear">Model Year</label>
      <input type="text" class="form-control" id="modelYear" name="modelYear">
    </div>
    <div class="form-group">
      <label for="make">Make</label>
      <input type="text" class="form-control" id="make" name="make">
    </div>
    <div class="form-group">
      <label for="vin">Vin</label>
      <input type="text" class="form-control" id="vin" name="vin">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" name="state">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</div>