<br>
<div class="form-group mx-auto" style="width: 400px;">
    <div class="container">
        <div class="row">
            <label class="col-4" for="modelYear">Model Year</label>
            <input type="number" class="form-control col-sm" id="modelYear"
            required
            [(ngModel)]="model.modelYear" name="modelYear">
        </div>
        <div class="row">
            <label class="col-4" for="make">Make</label>
            <input type="text" class="form-control col-sm" id="make"
            required
            [(ngModel)]="model.make" name="make">
        </div>
        <div class="row">
            <label class="col-4" for="vin">Vin</label>
            <input type="text" class="form-control col-sm" id="vin"
            required
            [(ngModel)]="model.vin" name="vin">
        </div>
        <div class="row">
            <label class="col-4" for="firstName">First Name</label>
            <input type="text" class="form-control col-sm" id="firstName"
            required
            [(ngModel)]="model.firstName" name="firstName">
        </div>
        <div class="row">
            <label class="col-4" for="lastName">Last Name</label>
            <input type="text" class="form-control col-sm" id="lastName"
            required
            [(ngModel)]="model.lastName" name="lastName">
        </div>
        <div class="row">
            <label class="col-4" for="state">State</label>
            <input type="text" class="form-control col-sm" id="state"
            required
            [(ngModel)]="model.state" name="state">
        </div>
    </div>
</div>