<div class="container yellow-paper">
    <div class="row">
      <div class="col-sm">
        <p class="m-0">First Name</p>
        <p class="m-0">{{firstName}}</p>
      </div>
      <div class="col-sm">
        <p class="m-0">Year</p>
        <p class="m-0">{{year}}</p>
      </div>
      <div class="col-sm">
        <p class="m-0">Make</p>
        <p class="m-0">{{make}}</p>
      </div>      
    </div>
    <div class="row">
      <div class="col-sm">
        <p class="m-0">Last Name</p>
        <p class="m-0">{{lastName}}</p>
      </div>
      <div class="col-sm">
        <p class="m-0">VIN</p>
        <p class="m-0">{{vin}}</p>
      </div>
      <div class="col-sm">
        <p class="m-0">State</p>
        <p class="m-0">{{state}}</p>
      </div>             
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" (click)="newReceiptData()">New Receipt</button>
        </div>
    </div>
</div>
<br>
